<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jordanrulz.droidbtc" platformBuildVersionCode="21" platformBuildVersionName="5.0.1-1624448">
    <supports-screens android:smallScreens="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <application android:alwaysRetainTaskState="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:launchMode="singleInstance">
        <activity android:alwaysRetainTaskState="true" android:label="@string/app_name" android:launchMode="singleInstance" android:name="com.simran.andltcminerpro.AndLTCMinerPROActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.ads.AdActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.amazon.device.ads.AdActivity"/>
    </application>
</manifest>